{% extends 'base.html' %}

{% block body %}

    <div class="container">
{% comment 'trash' %} a little bit trash code here bad handle refactor later.{% endcomment %}
{% if messages %}
    {% for message in messages %}
        {% if message.extra_tags == 'register_success' %}
        <div class="row" style="position: fixed; top:5%; left:25%; width:50%; z-index:1999; text-align:center;">
            <div class="col-md-10 col-md-offset-1">
                <div class="alert alert-success alert-dismissable" id="notification_bar">
                    <button type="button" class="close" id="btn_notification">×</button>
                    {{message}} 
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% if err_message %}
        <div class="row" style="position: fixed; top:5%; left:25%; width:50%; z-index:1999; text-align:center;">
            <div class="col-md-10 col-md-offset-1">
                <div class="alert alert-danger alert-dismissable" id="notification_bar">
                    <button type="button" class="close" id="btn_notification">×</button>
                    {{ err_message }}
                </div>
            </div>
        </div>
    
{% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="{% url 'login_view' %}">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
      
                                <!-- Change this to a button or input when using this as a form -->
                                <div class='col-lg-6'>
                                    <a href ="{% url 'register' %}" class="btn btn-lg btn-success btn-block col-lg-6">Register</a>
                                </div>
                                <div class='col-lg-6'>
                                    <button type="submit" value="Submit" class="btn btn-lg btn-success btn-block col-lg-6">Login</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
