{% extends 'base.html' %}

{% block content %}
<div><span class="err_message"><p style="color:red">{{ err_occur }}</p><ul style="font-size:12px; color:red">{{ err_message | safe }}</ul></div>   
    <form method="post">
    	Username:<br>
    	<input type="text" name="username"><br>
    	Password:<br>
        <input type="password" name="password"><br>
    	Re-Password:<br>
    	<input type="password" name="repassword"><br>
    	First Name:<br>
    	<input type="text" name="firstname"><br>
    	Last Name:<br>
    	<input type="text" name="lastname"><br>
    	Address:<br>
    	<input type="text" name="address"><br>
    	Tel.:<br>
    	<input type="text" name="tel"><br>
    	Company:<br>
    	<input type="text" name="company"><br>
    	<input type="submit" value="Submit">
    {% csrf_token %}
    </form>

{% endblock %}
